<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/financas"></ion-back-button>
    </ion-buttons>
    <ion-title size="large"> Saldos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Saldos </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let cliente of saldos" [disabled]="cliente.Saldo === '0.00' ? true : false">
      <ion-card-header>
        <ion-card-title> {{ cliente.Nome }} </ion-card-title>
        <ion-card-subtitle>  Saldo atual: {{ cliente.Saldo | currency : 'R$ ' }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-button (click)="criarNovoSaldo()" expand="block" fill="clear" shape="round" color="medium">
    <ion-icon slot="start" name="add"></ion-icon>
    Novo cliente
  </ion-button>

</ion-content>
