<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/financas"></ion-back-button>
    </ion-buttons>
    <ion-title size="large"> Mensalistas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Mensalistas </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- <ion-card *ngFor="let cliente of mensalistas">
      <ion-card-header>
        <ion-card-title> {{ cliente.Nome }} </ion-card-title>
        <ion-label> {{ cliente.Saldo }} ·  </ion-label>
      </ion-card-header>
    </ion-card> -->
  </ion-list>

</ion-content>
