<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="conteudo">
      <img src="../../../../assets/icon/white.svg" alt="Logo" class="logo">

      <div class="botoes">
        <ion-card>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6" class="coluna-1" class="fora-de-estoque" (click)="pedirLogin()">
                  <img src="../../../../assets/icon/admin_white.svg" alt="Administrador" class="icone">
                  <ion-card-subtitle class="ion-text-center bold">Administrador</ion-card-subtitle>
              </ion-col>
              <ion-col size="6" class="coluna-2" (click)="inserirNome()">
                <!-- <a href="../../tabs/pedidos">
                </a> -->
                  <img src="../../../../assets/icon/usuario_white.svg" alt="Vendedor" class="icone">
                  <ion-card-subtitle class="ion-text-center bold">Vendedor</ion-card-subtitle>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
</div>
</ion-content>