<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pedidos">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="financas">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Finanças</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estoque">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>