<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/financas"></ion-back-button>
    </ion-buttons>
    <ion-title size="large"> Histórico de Vendas </ion-title>
    <ion-buttons slot="end">
      <ion-button id="date">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Histórico de Vendas </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-popover trigger="date">
      <ng-template>
        <ion-datetime presentation="date" [(ngModel)]="diaAtual"></ion-datetime>
      </ng-template>
    </ion-popover>

  <ion-button expand="block" fill="outline" shape="round" class="ion-margin">
    {{ diaAtual | date: 'cccc, d \'de\' MMMM' : '-06:00' : 'pt-BR' }}
  </ion-button>

  <ion-list>
    <ion-card button *ngFor="let venda of vendas">
      <ion-card-header>
        <ion-card-subtitle> {{ venda.Data | date : 'cccc, d \'de\' MMMM \'ás\' H:mm' : '-06:00' : 'pt-BR' }} </ion-card-subtitle>
        <ion-card-title> Total - {{ venda.ValorTotal | currency : 'R$ ' }} </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
